In [7]:
import sys
import os

import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [9]:
conn=pg2.connect(database="studydb",
                 host="database-1.csky6gkw0wws.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_test",
                 password="studypassword")

OperationalError: could not connect to server: Connection timed out
	Is the server running on host "database-1.csky6gkw0wws.ap-northeast-2.rds.amazonaws.com" (172.31.5.167) and accepting
	TCP/IP connections on port 5432?

In [ ]:
# conn.cursor를 통해 Cursor 하나를 생성한다.
cur = conn.cursor() 
 

cur

In [ ]:
cur.execute("CREATE TABLE test1 (id serial PRIMARY KEY, num integer, data varchar);")

In [ ]:
cur.execute("INSERT INTO test1 (id, num, data) VALUES (%s, %s, %s);", (1, 100, "data01") )

In [ ]:
cur.execute("SELECT * FROM test1") 
(id, num, data) = cur.fetchone() 
print(f"{id}, {num}, {data}")

In [ ]:
cur.close()